<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <link type="text/css" rel="stylesheet" href="@Url.Content("~/Content/Site.css")" />
</head>
<body>
<nav>
    <ul class="menu">
        <li>@Html.ActionLink("Главная", "Index", "Home")</li>
    </ul>
</nav>
    @RenderBody()
</body>
</html>
